@model StockDictionaryViewModels

@{
    ViewBag.Title = String.Join(",", Model.StockNames);
}

<script type="text/javascript">
    var keys = @Html.Raw(Json.Serialize(Model.Keys));
    var stockNames = @Html.Raw(Json.Serialize(Model.StockNames));
    var records = @Html.Raw(Json.Serialize(Model.Records));
    var flattenRecords = [];
    var unixStart = new Date(1970, 0, 1, 12);
    stockNames.forEach(function(name) {
        records[name].forEach(function(d) {
            d = JSON.parse(JSON.stringify(d));
            for (var key in d) { d[key] = +d[key]; }
            var date = new Date(unixStart);
            date.setDate(unixStart.getDate()+(+d.Date));
            d.Date = date;
            d.Key = name;
            flattenRecords.push(d);
        })
    })
</script>

<div class="panel panel-default">
    <div class="panel-body">
        <div id="bodyPanel"></div>
    </div>
</div>

<script type="text/javascript" src="~/js/d3stack.js"></script>
<script type="text/javascript" src="~/js/g2stack.js"></script>

<script type="text/javascript">
    key = "Open";
    //addD3Stack("bodyPanel", flattenRecords, key);
    addG2Stack("bodyPanel", flattenRecords, key);
</script>