@model StockDictionaryViewModels

@{
    ViewBag.Title = String.Join(",", Model.StockNames);
}

@foreach (var name in Model.StockNames)
{

    <h1>@name</h1>

    <table class="table table-bordered table-hover table-striped">
        <tr>
            @foreach (var key in Model.Keys)
            {
                <td>@key</td>
            }
        </tr>
        @foreach (var record in Model.Records[name])
        {
            <tr>
                @foreach (var key in Model.Keys)
                {
                    if (key == "Date")
                    {
                        var unixStart = new DateTime(1970, 1, 1);
                        unixStart = unixStart.AddDays(int.Parse(record[key]));
                        <td>@String.Format("{0:yyyy-MM-dd}", unixStart)</td>
                    }
                    else
                    {
                        <td>@record[key]</td>
                    }
                }
            </tr>
        }
    </table>

}